<!-- Nothing to see here -->

<button class="btn btn-xs btn-block btn-info" id="rick">dont try me</button>
<img src="http://www.foxsports.com/content/dam/fsdigital/fscom/global/dev/static_resources/nba/teams/retina/9.png" class="img-responsive" id="hidden" />
